OAUTH2_GITHUB_CLIENT_ID=eccd08d6736b7999a32a
OAUTH2_GITHUB_CLIENT_SECRET=642999c1c5f2b3df8b877afdc78252ef5b594d31

OAUTH2_GOOGLE_CLIENT_ID=105851609656-uueuan570963mnnf4288nv40eieh9f5l.apps.googleusercontent.com
OAUTH2_GOOGLE_CLIENT_SECRET=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

JWT_SECRET=
JWT_ALGORITHM=HS256
JWT_EXPIRES=900


ENGINE=postgresql+asyncpg
USER=postgres
PASSWORD=qwerty
DB_NAME=blended_hw_12
HOST=localhost
PORT=5432

SECRET_HASH_KEY=