# example https://github.com/pysnippet/fastapi-oauth2/blob/master/examples/demonstration/.env

OAUTH2_GITHUB_CLIENT_ID=
OAUTH2_GITHUB_CLIENT_SECRET=

OAUTH2_GOOGLE_CLIENT_ID=
OAUTH2_GOOGLE_CLIENT_SECRET=
JWT_SECRET=
JWT_ALGORITHM=HS256
JWT_EXPIRES=900


ENGINE=postgresql+asyncpg
USER=postgres
PASSWORD=
DB_NAME=
HOST=localhost
PORT=5432

SECRET_HASH_KEY=